/*Firefox: -moz-box-shadow*/
/*Safari: -webkit-box-shadow*/
/*Opera: -o-box-shadow*/
/*IE: -ms-box-shadow*/
*{
    margin: 0;
    padding:0
}

#pox img{
    display: block;
}
.music{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 32px;
    z-index: 1000;
}
.bg-left{
    background: url("../img/1-1.jpg") no-repeat;
    width:50%;
    transition: all 5s linear;
    -webkit-transform-origin:left;
    -moz-transform-origin:left;
    -o-transform-origin:left;
    -ms-transform-origin:left;
}
.bg-center{
    background: url("../img/welcome-center.jpg") no-repeat;
    width: 71px;
    transition: all 0.1s linear;
    left: 47%;
}
.bg-right{
    background: url("../img/1-2.jpg") no-repeat;
    right: 0;
    width:50%;
    transition: all 5s linear;
    -moz-transform-origin:right;
    -o-transform-origin:right;
    -ms-transform-origin:right;
    -webkit-transform-origin:right;
}
.bg{
    z-index: 100;
    position: absolute;
    height:700px;
    background-size:cover;
}
@keyframes door {
    0%{
        transform: rotateY(0deg);

    }
    100%{
        transform: rotateY(-90deg);
    }
}
@keyframes door1 {
    0%{
        transform: rotateY(0deg);
        -moz-transform-origin:right;
        -o-transform-origin:right;
        -ms-transform-origin:right;
        -webkit-transform-origin:right;

    }
    100%{
        transform: rotateY(90deg) ;
        -moz-transform-origin:right;
        -o-transform-origin:right;
        -ms-transform-origin:right;
        -webkit-transform-origin:right;
    }
}
.doc{
    display: inline-block;
    position: absolute;
    background:rgba(255,255,255,0.3);
    transition: all 1s linear;
    border-radius: 50%;
}
.welcome{
    overflow: hidden;
    position: absolute;
    z-index: 100;
    color: white;
    background: rgba(0,0,0,.3);
    padding: 5px 10px;
}
.welcome-left{
    top:100px;
    left:31%;
    transition: all 6s;
    border-radius: 10px;
}
.welcome-right{
    top:200px;
    left:33%;
    transition: all 6s;
    border-radius: 10px;
}
#box{
    animation: read 1.5s infinite;
    background: whitesmoke;
    position: absolute;
    display: inline-block;
    padding:3px 10px;
    bottom: 20px;
    z-index: 100;
    width: 70px;
    height:45px;
    right: 10%;
    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    color: gray;
    cursor: pointer;
}
#box1{
    position: absolute;
    bottom: 20px;
    z-index: 100;
    width: 40px;
    left: 58%;
}
#box2{
    position: absolute;
    bottom: 20px;
    z-index: 100;
    width: 40px;
    left: 78%;
}
.index2{
    background: url("../img/index2.jpg") no-repeat;
    width: 100%;
    height:700px;
    background-size:cover;
    z-index: 90;
    position:absolute;
    color: white;
    transition:all 5s cubic-bezier(0, 1.27, 1, 1.24) 1s;
}
.index2-show{
    position: absolute;
    background: rgba(255,255,255,.2);
    padding: 5px 10px;
    width: 485px;
    transition:all 3s cubic-bezier(0, 1.27, 1, 1.24) 1s;
}
.show1{
    position: absolute;
    box-sizing: border-box;
    padding-top: 25px;
    height: 50px;
    text-align: center;
    top:61px ;
    width: 505px;
    border-radius: 23px;
    left: 32%;
    opacity: 0;
}
.show2{
    position: absolute;
    left:-505px;
    top:125px ;
    border-radius: 23px;
}
.show3{
    left: 105%;
    top:170px ;
    border-radius: 23px;
}
.show4{
    position: absolute;
    left:-505px;
    top:214px ;
    border-radius: 23px;
}
.show5{
    left: 105%;
    top:280px ;
    border-radius: 23px;
}
.show6{
    position: absolute;
    left:-520px;
    top:345px ;
    border-radius: 23px;
}
.show7{
    left: 105%;
    top:390px ;
    border-radius: 23px;
}
.index3{
    position: absolute;
    z-index:80;
    width: 100%;
    height: 700px;
    background: url("../img/index3.JPG") no-repeat;
    background-size: cover;
    transition: all 3s cubic-bezier(1, -0.01, 1, 1.27);
}
.sky{
    transform:scale(0.4);
    margin-top: 130px;
    margin-left: -250px;
}
.sky-contain{
    transform-style: preserve-3d;
    animation:sky 3s linear infinite;
    -moz-transform-origin:50px 100px;
    -o-transform-origin:50px 100px;
    -ms-transform-origin:50px 100px;
    -webkit-transform-origin: 50px 100px
}
.sky-contain:hover{
    -webkit-animation-play-state:paused; /*设置动画状态*/
    -moz-animation-play-state:paused
    -o-animation-play-state:paused
    -ms-animation-play-state:paused
}
.sky-contain img{
    width: 180px;
    height: 220px;
    position: absolute;
}
.sky-contain .img1{
    transform:rotateY(0deg) translateZ(160px)
}
.sky-contain .img2{
    transform:rotateY(60deg) translateZ(160px)
}
.sky-contain .img3{
    transform:rotateY(120deg) translateZ(160px)
}
.sky-contain .img4{
    transform:rotateY(180deg) translateZ(160px)
}
.sky-contain .img5{
    transform:rotateY(240deg) translateZ(160px)
}
.sky-contain .img6{
    transform:rotateY(300deg) translateZ(160px)
}
@keyframes sky{
    0%{
        transform:rotateX(0deg)rotateY(0deg)
    }
    100%{
        transform:rotateX(360deg)rotateY(360deg)
    }
}
.sky1-contain{
    transform-style:preserve-3d;
    animation:sky 3s linear infinite;
    -moz-transform-origin:100px 100px;
    -o-transform-origin:100px 100px;
    -ms-transform-origin:100px 100px;
    -webkit-transform-origin: 100px 100px
}
.sky1-contain:hover{
    -webkit-animation-play-state:paused; /*设置动画状态*/
    -moz-animation-play-state:paused
    -o-animation-play-state:paused
    -ms-animation-play-state:paused
}
.sky1{
    transform:scale(0.6);
    margin-top: 23px;
    margin-left:940px

}
.sky1 img{
    width: 180px;
    height: 180px;
    position: absolute;
    border-radius: 160px;
}
.sky1-contain .im1{
    transform:translateZ(-180px)
}
.sky1-contain .im2{
    -webkit-transform-origin:top;
    -moz-transform-origin:top;
    -o-transform-origin:top;
    -ms-transform-origin:top;
    transform:rotateX(-90deg)
}
.sky1-contain .im3{
    -webkit-transform-origin:right;
    -moz-transform-origin:right;
    -o-transform-origin:right;
    -ms-transform-origin:right;
    transform:rotateY(-90deg)
}
.sky1-contain .im4{
    -webkit-transform-origin:left;
    -moz-transform-origin:left;
    -o-transform-origin:left;
    -ms-transform-origin:left;
    transform:rotateY(90deg)
}
.sky1-contain .im5{
    -webkit-transform-origin:bottom;
    -moz-transform-origin:bottom;
    -o-transform-origin:bottom;
    -ms-transform-origin:bottom;
    transform:rotateX(90deg)
}
.works{
    margin: 30px auto;
    width: 200px;
    background: rgba(0,0,0,0.4);
    padding: 3px 6px;
    border-radius: 15px;
    color: greenyellow;
    text-align: center;
}
.index3 .box img{
    border-radius: 20px;
}
.canvas{
    width: 391px;
    height: 250px;
    background: rgba(0,0,0,.5);
    position: absolute;
    border-radius: 20px;
    top:206px;
    left: 36%;
}
.index4{
    position: absolute;
    z-index: 60;
    width: 100%;
    height: 700px;
    background: url("../img/z.jpg") no-repeat;
    background-size: cover;
}
.index4-p{
    width: 230px;
    margin: 80px auto;
    background: whitesmoke;
    padding: 5px 10px;
    opacity: 0.6;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    animation: read 1.5s infinite;
    color: gray;
}
@keyframes read {
    0% {
        border-radius: 50%;
        transform: scale(1);
    }
    15% {
         transform: scale(1.2);
    }
    30% {
         transform: scale(0.9);
         border-radius: 25%;
    }
    45% {
         transform: scale(1);
    }
    100% {
         border-radius: 50%;
         transform: scale(1);
    }
}
.changel{
    margin-left: 251px;
    width:315px ;
    display: inline-block;
}

.change{
    display: inline-block;
    width: 323px;
    padding: 4px 8px;
    background: rgba(0,0,0,.2);
    /*background: whitesmoke;*/
    /*animation: read 1.5s infinite;*/
    opacity: 0.6;
    border-radius: 15px;
    margin-top: 4px;
    font-size: 17px;
    color: whitesmoke;
}
.cen{
    text-align: center;
    font-size: 19px;
}
.change img{
    width: 20px;
    height: auto

}
.changer{
    position: absolute;
    left: 788px;
    top: 204px;
}
.changer img{
    width: 25px;
    height: auto;
    margin-top: 4px;
    vertical-align: middle;
}
.changer .r1{
    margin-top: 18px;
}
.changer .r{
    position: relative;
    top: 3px;
    left: 3px;
}