<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/shake.css"/>
    <link rel="stylesheet" href="css/lunbo.css"/>
    <title></title>
</head>
<body style="overflow-x: hidden;overflow-y: hidden">
<audio controls="controls" autoplay class="music" >
    <source src="music/snow.mp3" type="audio/ogg" >
    Your browser does not support the audio tag.
</audio>
<div id="pox">
<div class="bg-left bg">
</div>
<div class="bg-right bg">
</div>
    <h1 class="welcome welcome-left " id="waterLeft">Welcome to read my resume</h1>
    <h1 class="welcome welcome-right" id="waterRight">Please open the Star Gate</h1>
</div>
<div class="index2">
    <p class="index2-show show1 shake-opacity">
        <span class="shake-slow shake-constant shake-constant--hover">技能展示</span>
    </p>
    <p class="index2-show show2">
        <span class="shake-rotate">熟练掌握HTML+CSS3，制作出常见页面createfun。</span>
    </p>
    <p class="index2-show show3 ">
        <span class="shake-rotate">熟悉W3C标准，深刻理解Web语义化。</span>
    </p>
    <p class="index2-show show4">
        <span class="shake-vertical"> 熟练掌握JavaScript技术，善于利用原生js操作DOM，熟悉Ajax，<br>
        理解jsonp，能够进行简单的跨域操作。</span>
    </p>
    <p class="index2-show show5 ">
        <span class="shake-horizontal">熟悉AngularJS框架，能够利用AngularJS的MVC模式对代码进行<br>分离,实现模块化和复用。</span>
    </p>
    <p class="index2-show show6 badge shake-constant shake-chunk">熟悉jQuery类库，能用jQuery操作DOM，实行快速开发。</p>
    <p class="index2-show show7">
        <span class="shake-crazy">了解PHP、MySQL等后台技术，能运用jQuery+PHP+MySQL进行 <br> 数据的交互</span>
    </p>
</div>
<div class="index3">
    <div class="sky ">
        <div class="sky-contain">
            <img src="img/pic1.jpg" alt="图片未加载" class="img1"/>
            <img src="img/pic2.jpg" alt="图片未加载" class="img2"/>
            <img src="img/pic3.jpg" alt="图片未加载" class="img3"/>
            <img src="img/pic4.jpg" alt="图片未加载" class="img4"/>
            <img src="img/pic5.jpg" alt="图片未加载" class="img5"/>
            <img src="img/pic6.jpg" alt="图片未加载" class="img6"/>
        </div>
    </div>
    <div class="sky1">
        <div class="sky1-contain">
            <img src="img/pic1.jpg" alt="图片未加载" class="im1"/>
            <img src="img/pic2.jpg" alt="图片未加载" class="im2"/>
            <img src="img/pic3.jpg" alt="图片未加载" class="im3"/>
            <img src="img/pic4.jpg" alt="图片未加载" class="im4"/>
            <img src="img/pic5.jpg" alt="图片未加载" class="im5"/>
            <img src="img/pic6.jpg" alt="图片未加载" class="im6"/>
        </div>
    </div>
    <div class="works">小小的作品~</div>
    <div class="canvas"></div>
    <div  ng-app="lunbo" ng-controller="lb" class="box" ng-mouseover="cancel()" ng-mouseout="add()" ng-click="cli()">
        <span class="left" ng-click="left()"><img src="img/left.png" alt="图片未加载"/></span>
        <span class="right" ng-click="right()"><img src="img/right.png" alt="图片未加载"/></span>
        <li ng-repeat="i in arr track by $index"class="img"
            ng-class="{true:'active'}[$index==index]"><img ng-src="{{arr[$index]}}" /></li>
        <div class="index">
            <div class="pox"  ng-class="{true:'zox'}[index+1==1]">1</div>
            <div class="pox"  ng-class="{true:'zox'}[index+1==2]">2</div>
            <div class="pox"  ng-class="{true:'zox'}[index+1==3]">3</div>
            <div class="pox"  ng-class="{true:'zox'}[index+1==4]">4</div>
            <div class="pox"  ng-class="{true:'zox'}[index+1==5]">5</div>
        </div>
    </div>
</div>
<div class="index4">
    <p class="index4-p">非常感谢您的阅读</p>
    <div class="changel">
        <p class="change cen">最后做下自我介绍~ </p>
        <p class="change">我叫郭海峰，年龄23岁 是一名大四学生,</p>
        <p class="change">性格沉稳，做事积极乐观，不会轻易放弃，</p>
        <p class="change">有着良好的团队精神，能与他人配合工作，</p>
        <p class="change">我的目标是，在近几年通过自己努力成为</p>
        <p class="change">一名优秀的前端开发工程师~
            <img src="img/smile.png" alt="图片未加载"/>
        </p>
    </div>
    <div class="changer">
        <p class="change cen">我的联系方式</p> <br>
        <p class="change r1">
            <img src="img/telephone.png" alt="图片未加载"/>
            <span class="r">17079662613</span>
        </p> <br>
        <p class="change r1">
            <img src="img/e-mail.png" alt="图片未加载"/>
            <span  class="r">17079662613@163.com</span>
        </p> <br>
        <p class="change r1" >
            <img src="img/address.png" alt="图片未加载"/>
            <span  class="r">北京</span>
        </p>
    </div>
</div>
<span id="box">next Page</span>
</body>
</html>
<script src="js/jquery.js"></script>
<script src="js/index.js"></script>
<script src="js/angular-1.5.8.js"></script>
<script src="js/lunboo.js"></script>