*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
    font-size: 14px;
    line-height: 1.4;
    background-color: rgb(244, 244, 244);
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    -webkit-user-select: none;
    margin: 0px;
    padding: 0px;
}
.container {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 50;
    font-size: 0;
}
.pox{
    width: 100%;
}
.box{
    width: 100%;
    background: #ffdfe2;
    height:auto;
}
.box-d{
    display: inline-block;
    width: 47%;
    margin-left: 2%;
    margin-top: 8px;
    font-size: 12px;
    background:white;
}
.box-d img{
    width: 100%;
    border: 0;
}
.bei{
    font-size: 12px;
    margin-left: 3px;
}
.money{
    color: #ff3434;
    margin: 15px 0 6px 6px;
    display: inline-block;
}
.li{
    background: #FF6565;
    color: white;
    font-size: 10px;
    float: right;
    padding: 3px;
    border-radius: 12px;
    margin-top: 10px;
    margin-right: 3px;
}
.act{
    margin-top: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.act img{
    width: 100%;
}
.foot{
    margin-top: 25px;
    width: 100%;
}
.foot img{
    width: 100%;
}