*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    height: 1900px;
    background: #f4f4f4;
}

.img-container {
    max-height: 517px;
    height: auto;
    width: 100%;
}
.swiper-wrapper img{
    width: 100%;
}
.img3{

}
.img-container > div > div {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.box{
    background: white;
    /*height: 150px;*/
    display: flex;
    justify-content:space-around;
    padding-top: 40px;
    padding-bottom: 10px;
}
.box img{
    width: 40px;
    height: 40px;
}
.pox{
    left:8px;
    position: relative;
    font-size: 12px;
    color: black;
}
.img4{
    width: 100%;

}
.icona{
    background: white;
    display: flex;
    justify-content:space-around;
    margin-top: 15px;
    padding-top: 10px;
}
.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("img/icon.png") no-repeat 0 -271px;
    position: relative;
    background-size: 20px 390px;
    left: -8px;
}
.icon1{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("img/icon.png") no-repeat 0 -210px;
    background-size: 20px 390px;
    position: relative;
    left: -8px;
}

.miao{
    color: lightcoral;
    position: relative;
    left: -16px;;
}
.timeall{
    width: 69px;
}
.time{
    width: 20px;
    color: white;
    text-align: center;
    height: 17px;
    background: gray;
    border-radius: 3px;
}
.dian{
    font-size: 13px;
}
.quick{
    width: 64px;
    height: 64px;
    position: relative;
    top: 5px;

}
.small{
    font-size: 12px;
    color:gray;
}
.nearshop {
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    position: relative;
    margin: 10px auto;
}
.nearshop:before {
    content: '';
    height: 1px;
    border-top: 1px solid #DEDEDE;
    width: 80%;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 10%;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.nsi {
    display: inline-block;
    background: url("img/index_shop_list.png") 0px 0px/25px 60px no-repeat;
    width: 27px;
    height: 25px;
    vertical-align: top;
}

.shoplist {
    margin: 0 5px;
}
ul {
    list-style: none;
}
li{
    list-style: none;
}
.shoplist .shopli {
    padding: 10px 10px 5px 10px;
    min-height: 70px;
    border: 1px solid #e7e9e4;
    border-radius: 5px;
    margin-top: 10px;
    background: #fff;
}
.br {
    position: relative;
    font-size: 0;
    min-height: 55px;
    padding-bottom: 5px;
}
.bl {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    display: inline-block;
}
img {
    vertical-align: middle;
}
.bm {
    font-size: 12px;
    color: #666;
    margin-left: 60px;
}
.bm h2 {
    font-size: 16px;
    line-height: 16px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 58%;
    margin-top: 1px;
}
.bn {
    font-size: 0;
    height: 15px;
    overflow: hidden;
    margin: 2px 0 6px 0;
    display: inline-block;
    vertical-align: top;
}
.bn i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("img/index.png") -1px 0px no-repeat;
    background-size: 15px 200px;
}
i {
    font-style: normal;
}
.cb {
    font-size: 11px;
    line-height: 11px;
    height: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666;
}
.bs {
    width: 78px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 30px;
    font-size: 0px;
    text-align: right;
}
.d4 {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("img/index_icon_301.png") no-repeat;
    -webkit-background-size: 60px 240px;
    background-size: 60px 240px;
    background-position: -13px -174px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 13px;
}
.nav{
    width: 100%;
    height: 50px;
    font-size: 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 1px solid lightgray;
    justify-content: space-around;
    color: #999999;
    background: floralwhite;
}
a{
    color:#999999 ;
}
.ic{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding-top: 30px;
    background-image: url("img/nav2.png");
    background-repeat: no-repeat;
    background-size: 22px 500px;
}
.yan{
    color: #39ac69;;
}
.ic1{
    background-position:center 0 ;
}
.ic2{
    background-position:center -300px ;
}
.ic3{
    background-position:center -350px ;
}
.ic4{
    background-position:center -400px ;
}
.ic5{
    background-position:center -450px ;
}
















